.root {
    position: relative;
    left: 200px;


}

@media (max-width: 1388px) {
    .root {
        left: 7%;
    }
}

@media (max-width: 1132px) {
    .root {
        left: 2%;
    }
}

@media (max-width: 1021px) {
    .root {
        left: 0;
        margin-top: 15px;
    }
}


.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    padding-left: 40px;
    width: 300px;
    border-radius: 12px;
    font-size: 16px;



}

.search {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    left: 10px;
    top: 8px;
}

.closeSearch {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}